container_commands:
    00-permission:
        command: "sudo chmod 777 /var/www/html/storage -R"
    001-permission:
        command: "sudo chown webapp:webapp /var/app/current -R"
    01-no_dev:
        command: "sudo cp /opt/elasticbeanstalk/deployment/env /var/www/html/.env && sudo chown ec2-user:webapp /var/www/html/.env && sudo chmod 644 /var/www/html/.env"
    02-install-composer:
        command: "curl -sS https://getcomposer.org/installer | php"
    020-install-composer:
        command: "sudo mv composer.phar /usr/local/bin/composer"
    021-install-composer:
        command: "sudo ln -s /usr/local/bin/composer /usr/bin/composer"
    03-install-node:
        command: "sudo yum install -y nodejs"
    04-install-packages:
        command: "php composer install"
    05-install-npm:
        command: "sudo npm install"
    06-install-vite:
        command: "sudo npm install vite"
    07-run-npm-dev:
        command: "sudo npm run build"
    08-cache:
        command: "sudo php artisan cache:clear"
    09-config:
        command: "sudo php artisan config:cache"
    10-route:
        command: "sudo php artisan route:cache"
    11-view:
        command: "sudo php artisan view:cache"
